<div class="row">
	<div class="col-md-6"><img class='img-circle' src="http://chronicle.com/blogs/profhacker/files/2012/10/ada.lovelace.jpg"></div>

</div>

<div class"row">
	<div class="col-md-3"><img class='img-circle' src="http://chronicle.com/blogs/profhacker/files/2012/10/ada.lovelace.jpg"></div>
		<div class="col-md-9"><img class='img-circle' src="http://chronicle.com/blogs/profhacker/files/2012/10/ada.lovelace.jpg"></div>
</div>

<div class"row">
	<div class="col-md-3"><img class='img-circle' src="http://chronicle.com/blogs/profhacker/files/2012/10/ada.lovelace.jpg"></div>
		<div class="col-md-9"><img class='img-circle' src="http://chronicle.com/blogs/profhacker/files/2012/10/ada.lovelace.jpg"></div>
</div>

<div class="row">
	<div class="col-md-6"><img class='img-circle' src="http://chronicle.com/blogs/profhacker/files/2012/10/ada.lovelace.jpg"></div>

</div>